<div class="toc-menu">
  <div class="toc-menu__body">
    <div class="toc-menu__container">
      <div class="toc-menu__row">
        <div class="toc-menu__column toc-menu__column--left">
          <div class="toc-menu__title-container">
            <div class="toc-menu__title-wrapper">
              <div class="toc-menu__title">
                <strong>Beyond</strong>
                <span>the</span>
                <strong>Grant</strong>
              </div>
              <div class="toc-menu__subtitle-wrapper">
                <p class="toc-menu__subtitle">
                  A Decade of Philanthropy
                  <br>
                  at The JPB Foundation
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="toc-menu__column toc-menu__column--right">
          <div class="toc-menu__nav-container">
            <button class="toc-menu__close-btn" aria-label="Close menu">
              <img src="assets/images/icons/menu-close.svg" alt="Close menu" class="toc-menu__close-icon">
            </button>
            <nav class="toc-menu__nav" aria-label="Table of contents">
              <ul class="toc-menu__nav-list">
                <li class="toc-menu__nav-item">
                  <a href="index.html" class="toc-menu__nav-link">Home</a>
                </li>
                <li class="toc-menu__nav-item">
                  <a href="history-culture.html" class="toc-menu__nav-link">History and Culture</a>
                </li>
                <li class="toc-menu__nav-item toc-menu__nav-item--has-children">
                  <div class="toc-menu__nav-header">
                    <a href="the-programs.html" class="toc-menu__nav-link">The Programs</a>
                    <button class="toc-menu__toggle-btn" aria-expanded="false" aria-label="Toggle Programs submenu">
                      <img src="assets/images/icons/menu-arrow.svg" alt="" class="toc-menu__toggle-icon">
                    </button>
                  </div>
                  <ul class="toc-menu__subnav-list" aria-hidden="true">
                    <li class="toc-menu__subnav-item">
                      <a href="the-programs.html#environment-program" class="toc-menu__subnav-link">The Environment Program</a>
                    </li>
                    <li class="toc-menu__subnav-item">
                      <a href="the-programs.html#medical-research-program" class="toc-menu__subnav-link">The Medical Research Program</a>
                    </li>
                    <li class="toc-menu__subnav-item">
                      <a href="the-programs.html#poverty-program" class="toc-menu__subnav-link">The Poverty Program</a>
                    </li>
                  </ul>
                </li>
                <li class="toc-menu__nav-item toc-menu__nav-item--has-children">
                  <div class="toc-menu__nav-header">
                    <a href="lessons.html" class="toc-menu__nav-link">Lessons</a>
                    <button class="toc-menu__toggle-btn" aria-expanded="false" aria-label="Toggle Lessons submenu">
                      <img src="assets/images/icons/menu-arrow.svg" alt="" class="toc-menu__toggle-icon">
                    </button>
                  </div>
                  <ul class="toc-menu__subnav-list" aria-hidden="true">
                    <li class="toc-menu__subnav-item">
                      <a href="lessons.html#we-cant-do-it-alone" class="toc-menu__subnav-link">"We Can't Do It Alone"</a>
                    </li>
                    <li class="toc-menu__subnav-item">
                      <a href="lessons.html#philantropy-is-about-taking-risks" class="toc-menu__subnav-link">"Philanthropy is About Taking Risks"</a>
                    </li>
                    <li class="toc-menu__subnav-item">
                      <a href="lessons.html#well-help-you-swim" class="toc-menu__subnav-link">"We'll Help You Swim, Not Sink"</a>
                    </li>
                    <li class="toc-menu__subnav-item">
                      <a href="lessons.html#we-have-to-talk-about-equity" class="toc-menu__subnav-link">"We Have to Talk About All Kinds of Equity"</a>
                    </li>
                    <li class="toc-menu__subnav-item">
                      <a href="lessons.html#how-dow-know-what-people-need" class="toc-menu__subnav-link">"How Do We Know What People Need?"</a>
                    </li>
                    <li class="toc-menu__subnav-item">
                      <a href="lessons.html#we-want-to-hear" class="toc-menu__subnav-link">"We Want to Hear the Bad as Well as the Good"</a>
                    </li>
                    <li class="toc-menu__subnav-item">
                      <a href="lessons.html#so-what" class="toc-menu__subnav-link">"So What?"</a>
                    </li>
                  </ul>
                </li>
                <li class="toc-menu__nav-item">
                  <a href="conclusion.html" class="toc-menu__nav-link">Conclusion</a>
                </li>
                <li class="toc-menu__nav-item">
                  <a href="appendix.html" class="toc-menu__nav-link">Appendix & Data</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

